body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  /* WEB PAGE BACKGROUND */
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#rootA {
  max-width: 50rem;
  margin: auto;
  text-align: center;
}
#rootB {
  margin-top: 90px;
}
/* DISABLED GLOBAL ANCHOR TAG DEFAULT DESIGN */
a {
  text-decoration: none;
  color: black;
}
/* ******************** STORY CARD START ******************** */
#storyCard {
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  background-color: #603bbb;
  transition: 1s;

  -webkit-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
}
#storyCard:hover {
  background-color: #51349b;
}
#storyCard_title {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  text-align: left;

  -webkit-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
#storyCard_data {
  font-size: 0.9rem;
  font-style: italic;
  color: white;
  margin: 8px 0 0 0;
  padding: 0;
}
/* ******************** STORY CARD ENDS ******************** */

/* ******************** NAVBAR STARTS ******************** */
nav {
  height: 80px;
  background-color: #5637a5;
  width: 100%;
  top: 0;
  position: fixed;

  -webkit-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
}
.logox {
  font-size: 2rem;
  font-weight: 900;
  line-height: 80px;
  margin: 0 20px;
  color: white;
}
.logox1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
  margin: 0 20px;
  color: white;
}

ul {
  float: right;
  margin: 0 3rem 0 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li label {
  font-size: 1.2rem;
  color: white;
  margin-right: 10px;
}

/* ***************SELECT E******************** */
/* class applies to select element itself, not a wrapper element */
.select-css {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 0;
  border-radius: 7px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  max-width: 8rem;
  cursor: pointer;

  -webkit-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
}
option {
  text-align: center;
}

/* Focus style */
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* SEARCH BAR */
.ip {
  display: inline-block;
}
input {
  margin-top: 18.5px;
  line-height: 1.7rem;
  width: 25vw;

  color: black;
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 19px -6px rgba(0, 0, 0, 0.75);
}

/* ******************** NAVBAR ENDS ******************** */

@media (max-width: 800px) {
  ul {
    margin: 0 1rem 0 0;
  }
  nav ul li label {
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .select-css {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0;
    max-width: 8rem;
  }
  input {
    width: 25vw;
    font-size: 1rem;
  }
  .logox {
    display: none;
  }
  input {
    margin-top: 18.5px;
    line-height: 1.5rem;
    width: 35vw;
  }
}
@media (max-width: 500px) {
  .logox1 {
    display: none;
  }
  input {
    width: 35vw;
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  input {
    width: 25vw;
    font-size: 1rem;
  }
}
@media (max-width: 280px) {
  input {
    width: 21vw;
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .logox1 {
    display: none;
  }
}
